<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button"><b>Modul 183</b> Password Manager</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="entries" class="w3-bar-item w3-button">All Entries</a>
            <a href="addEntry" class="w3-bar-item w3-button">Add new password entry</a>
            <a href="changeMasterPassword" class="w3-bar-item w3-button">Change master password</a>
        </div>
    </div>
</div>


<!--class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
<img class="w3-image" src="/resources/templates/flughafen.webp" alt="Architecture" width="1500" height="800">
<div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>m183</b></span> <span class="w3-hide-small w3-text-light-grey">Password Manager</span></h1>
</div>-->

<div class="w3-content w3-padding" style="max-width:1564px">
    <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
    </div>
</div>
</div>


</body>
</html>

